[Desktop Entry]
Name=RTDBwxGUI
Exec=/media/psf/Home/Desktop/wxfb_ubuntu/RTDBwxGUI_ubuntu1604/RTDBwxGUI
Icon=/media/psf/Home/Desktop/wxfb_ubuntu/RTDBwxGUI_ubuntu1604/icon/Hirain.png
Terminal=false
Type=Application
Categories=Utility;